# Analisis de Incidencias Area de Calidad

## Bliblioteca empleada

In [ ]:
import pandas as pd

### Filtrador

In [ ]:
#Conecciona a la localizacion del archivo de registro de incidentes en exel, ademas de visualizacion de las hojas disponibeles 
url = "D:/CALIDAD.xlsx"
excel_file = pd.ExcelFile(url)
#Se vizualisa las hojas disponibles dado que el registro es por mes 
print("Hojas disponibles en el archivo:")
print(excel_file.sheet_names)

Hojas disponibles en el archivo:
['2025', '25 AL 30 NOV ', '2025 abril ', ' 2025 Mayo ', '2025 Junio ', 'Julio 2025']

In [ ]:
# Cargar los datos, ajustando el encabezado si es necesario (puede ser header=0, 1 o 2 según el archivo, cambiando el nombre de la hoja para el mes al analizar)
df_ = pd.read_excel(url, sheet_name= ' 2025 Mayo ', header=1)

In [ ]:
#Visualizamos las columnas de la hoja de calculo para verificar que esten en orden
print(list(df_.columns))

['FECHA', 'CAUSA A RAIZ DE LA INCIDENCIA (C)', 'CAUSA A RAIZ DE LA INCIDENCIA (CI)', 'ORDEN DE SERVICO', 'VEHICULO ', 'ASESOR', 'TECNICO ', ' lavador', 'Observaciones', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

In [ ]:
#Creamos un data frame con solo las columnas necesarias para el analisis
dg=pd.DataFrame(df_[['FECHA','CAUSA A RAIZ DE LA INCIDENCIA (CI)','ORDEN DE SERVICO','VEHICULO ', 'ASESOR', 'TECNICO ', ' lavador']])
dg

,FECHA,CAUSA A RAIZ DE LA INCIDENCIA (CI),ORDEN DE SERVICO,VEHICULO,ASESOR,TECNICO,lavador
0,2025-05-02 00:00:00,SIN OBSERVACION,-N00027558,S10 2024,JESSICA,3._ROGELIO,GUISURI
1,2025-05-02 00:00:00,SIN POLIZA EN VEHICULO,-N00027560,S10 2024,JESSICA,5._ IVAN,RAUL
2,2025-05-02 00:00:00,SIN OBSERVACION,-N00027565,S10 2023,GRISSEL,9._JORGE,CHUCHO
3,2025-05-02 00:00:00,SIN OBSERVACION,-N00077561,GROOVE 2023,GRISSEL,7._VICTOR,GUISURI
4,2025-05-02 00:00:00,SIN PLASTICO Y TAPETE,MG00015864,GROOVE 2022,ERIKA,10._EMANUEL,GUISURI
...,...,...,...,...,...,...,...
770,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774,VIERNES 04,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Comprobamos la cantidad de datos nulos en la hoja
dg.isna().sum()

FECHA                                 229
CAUSA A RAIZ DE LA INCIDENCIA (CI)    241
ORDEN DE SERVICO                      301
VEHICULO                              302
ASESOR                                301
TECNICO                               317
 lavador                              311
dtype: int64

In [ ]:
#Limpiamos los datos y checamos que no haya mas nulos
dg=dg.dropna()
dg.isna().sum()

FECHA                                 0
CAUSA A RAIZ DE LA INCIDENCIA (CI)    0
ORDEN DE SERVICO                      0
VEHICULO                              0
ASESOR                                0
TECNICO                               0
 lavador                              0
dtype: int64

In [ ]:
#Realizamos la previsualizacion de las incidencias del mes
conteo = dg['CAUSA A RAIZ DE LA INCIDENCIA (CI)'].value_counts()

for incidencia, cantidad in conteo.items():
    print(f"{incidencia}: {cantidad}")

SIN OBSERVACION: 207
SIN TAPETE: 67
SIN PLASTICO Y TAPETE: 62
SIN TAPETE Y PLASTICO VOLANTE : 28
SIN POLIZA EN VEHICULO : 22
NO USO CONO (HOJA CON NUMERO): 12
LLANTAS A DIFERENTE PRECION: 9
RIN (SUCIO): 7
FALTA DE SELLO EN POLIZA AL MOMENTO DE INSPECCION: 6
MOTOR SUCIO: 4
SIN FRENO DE MANO : 3
SIN PLASTICO VOLANTE: 3
ACEITE NO RESETEADO NIVEL%: 3
CASO S10 REVISION DE ACEITE: 2
CARROCERIA SUCIA : 2
VELOCIDAD PUESTA: 1
CARROCERIA SUCIA: 1
SIN CALCOMANIA: 1
SIN PLASTICOS : 1
CONO DENTRO DEL VEHICULO (NIVEL DE PISO): 1
HOJA DE ORDEN NO EN VEHICULO : 1
SE PRESENTO CODIGO 59,60: 1
SE PRESENTARON CODIGOS 61: 1
NO SE COLOCO EL FILTRO POLEN : 1
OLOR A HUMEDAD : 1
SIN OBSERVACIONES: 1
ERROR EN GESTION Y ASIGNACION DE SERVICIO: 1
SIN MULTIPUNTOS AL MOMENTO DE INSPECCION : 1

In [ ]:
#Generamos un archivo exel para guardar en la base de datos conectada a Pawer BI
dg.to_excel('datosfiltradosdelmes.xlsx', index=False)